h1 a, h2 a {
    font-family: 'Recursive';
}

#website-title {
	font-family: 'Recursive';
    font-size: 35pt;
    float: left;
    margin-left: 60px;
}
    

body {
    /*background: repeating-linear-gradient( -45deg, #0c0c0c 0px, #0c0c0c 5px, #121212 6px, #121212 11px, #0c0c0c 12px);*/
    background: #0c0c0c;
}

.date {
	color: #03DAC6;
	font-family: 'Open Sans';
}

.post_text {
	color: #FFFFFF;
	font-family: 'Open Sans';
}

.page-header {
    background: linear-gradient(to left, #743ad5, #d53a9d);
    margin-top: 0;
    padding: 10px 0px 35px 0px;
    border-style: none;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 20;
    -webkit-box-shadow: 4px 5px 35px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 4px 5px 35px 0px rgba(0,0,0,0.75);
    box-shadow: 4px 5px 35px 0px rgba(0,0,0,0.75);
}

.form_title{
    font-family: 'Recursive';
    color: #03DAC6;
    font-size: 40px;
}

.post-form label {
    color: #BB86FC;
    font-size: 20px;
    font-family: 'Open Sans';
}

.post-form textarea, .post-form input{
    width: 100%;
    color: #ffffff;
    background: #171717;
    border: none;
}

.login-table label{
    color: #BB86FC;
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.login-table input {
    background: #171717;
    color: #ffffff;
    font-size: 18px;
    border: none;
}

.submit-button{
    background: #03DAC6;
    border: none;
    font-size: 15px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 32px;
    padding-right: 32px;
    margin-top: 10px;
    border-radius: 5px;
}

.error-message {
    color: #02ae9e;
}


.page-header h1, .page-header h1 a, .page-header h1 a:visited, .page-header h1 a:active {
	color: #ffffff;
    font-size: 30pt;
    text-decoration: none;
}

.save {
    float: right;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #ffffff;
    font-size: 16pt;
    margin-right: 20px;
    margin-top: 25px;
}

#logout, #logout:visited{
    color: #03DAC6;
}

#logout:hover{
    color: #02ae9e;
    text-decoration: none;
}

#blog-invitation, #blog-invitation:visited{
    color: #03DAC6;
    font-family: 'Open Sans';
    padding-bottom: 30px;
    font-size: 18px;
}

#blog-invitation:hover{
    color: #02ae9e;
    text-decoration: none;
    font-family: 'Open Sans';
}



#edit-button, #add-post-button, #lock-item, #home-button, .blog-icon{
    margin-top: 25px;
    font-size: 26pt;
    float: right;
    margin-right: 60px;
}

#user-details{
    float:right;
    margin-right: 60px;
    font-size: 20pt;
}

.post {
    margin-bottom: 50px;
    margin-top: 20px;
}

.post h2 a, .post h2 a:visited .post h2 a:active{
    color: #BB86FC;
}

#detail_title_active {
	color: #BB86FC;
	font-family: 'Recursive';
}

#detail_title_inactive{
    color: #a0a0a0;
    font-family: 'Recursive';
}

#buton-edit, #buton-remove, #buton-publish {
    margin-top: 15px;
    margin-right: 15px;
}

.comment {
    margin: 20px 0px 20px 20px;
}

#comment-title{
    color: #ffffff;
    font-size: 18px;

    font-family: 'Open Sans';
}

.comment-body p{
    color: #ffffff;

    font-family: 'Open Sans';
}

#no-comments{
    color: #ffffff;

    font-family: 'Open Sans';
}

#new-comment-title{
    color: #02ae9e;
    font-family: 'Recursive';
}

#comments-number{
    color: #02ae9e;
}

.about-me-text {
    color: #fff;
    font-family: 'Open Sans';
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.image-div{
    
}

.aboutme-image{

    max-width: 35%;  
    height: auto;
    margin-bottom: 5%;
    margin-top:20px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

.blog-icon{
    max-width: 40px;
    height: 40px;
}

.content-container {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 150px;
    padding-top:3%;
    width:50%;
}

@media screen and (max-width:800px) {
  .content-container {
    width: 80%; 
  }

  .aboutme-image{
    max-width: 40%;
    padding-top:10%;
  }
}

@media screen and (max-width:620px) {
  .aboutme-image{
    max-width: 70% ;
    padding-top:20%;
  }

}

@media screen and (max-width:470px) {
  .animation-container{
    min-height:180px;
  }

}


/* Title animation -------------------------------*/ 


